.cryptos-main {
	display: flex;
	flex-direction: column;
}

.cryptos-header {
	margin: 1rem 0;
	color: var(--contrast-color);
	font-size: 1.5em;

	display: flex;
	justify-content: center;
}

.cryptos-search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

#search-form {
	border: solid 1px var(--contrast-color);

	padding: 0.45rem 0.5rem;
	outline: none;
	margin-bottom: 0.35rem;
	color: var(--contrast-color);
	font-weight: bold;
	width: 200px;
}

#search-form::placeholder {
	color: var(--contrast-color);
}

#search-form:focus {
	border: solid 1px var(--contrast-color);
}

.cryptos-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin: 0 1rem;
	padding: 1rem 0;
}

.cryptos-totop {
	text-align: center;
	padding: 1rem;
	color: var(--contrast-color);
	font-weight: bold;
}

.cryptos-totop span:hover {
	cursor: pointer;
	border-bottom: solid 1px var(--contrast-color);
}

@media screen and (min-width: 768px) {
	.cryptos-main {
		font-size: 1.1em;
	}

	#search-form {
		width: 210px;
		font-size: 0.85em;
	}

	.cryptos-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
	}
}
