.home-main {
    min-height: 100vh;    

    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.home-header {
    margin: 1rem 0;
    color: var(--off-white);
    
    display: flex;
    justify-content: center;
}

.home-header h3 {
    padding-bottom: .25rem;
    border-bottom: solid 3px var(--contrast-color);
    width: fit-content;
}

.home-stats {
    background: var(--contrast-color);

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;
    padding: 1rem 0;
    gap: 1rem;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.65);
}

.home-stats-item {
    color: var(--background-color);
    border-radius: 8px;
    background: var(--off-white);

    display: flex;
    flex-direction: column;

    margin: 0 1rem;
    padding: 1rem;
    gap: .5rem;

    font-size: 18px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.65);
}

.home-stats-item p {
    font-weight: bold;
    background: transparent;
}

.home-cryptos h3, .home-news h3 {
    font-size: 24px;
    text-align: center;
    margin: 1rem 0;
    font-weight: bolder;
    color: var(--contrast-color);
}

.home-cryptos-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 1rem;
}

.home-news {
    display: flex;
    flex-direction: column;
}