.news-main {
    display: flex;
    flex-direction: column;
}

.news-header {
    margin: 1rem 0;
    color: var(--off-white);
    
    display: flex;
    justify-content: center;
}

.news-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.news-header h3 {
    padding-bottom: .25rem;
    border-bottom: solid 3px var(--contrast-color);
    width: fit-content;
}

#news-search-form {
    border: solid 1px var(--off-white);

    padding: .45rem .5rem;;
    outline: none;
    margin-bottom: .35rem;
    color: var(--contrast-color);
    font-weight: bold;
}

#news-search-form::placeholder {
    color: var(--off-white);
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    /* margin: 0 1rem;
    padding: 1rem 0; */
}

#news-search-form:focus {
    border: solid 1px var(--contrast-color);
}

a {
    text-decoration: none;
    color: var(--off-white);
}

.newsitem-main {
    background: var(--dark-gray);
    margin: 0 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.65);
}

.newsitem-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.newsitem-hero img {
    height: 175px;
    width: 100%;
}

.newsitem-info {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.newsitem-header {
    margin: .5rem .25rem;
    font-weight: bold;
}

.newsitem-date {
    margin: 0 .25rem;
    color: var(--contrast-color);
}

.newsitem-info > *, .newsitem-info-more > *, p {
    background: transparent;
}

.newsitem-info-more {
    display: flex;
}

.newsitem-tags {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: .33rem;
    opacity: .5;
    font-size: 14px;
}

.newsitem-tap {
    width: 50%;
    display: flex;
    align-items: flex-end;
    opacity: .5;
    padding: .5rem .33rem;
    font-size: 12px;
}

.newsitem-click {
    display: none;
}

.news-totop {
    text-align: center;
    padding: 1rem;
    color: var(--contrast-color);
    font-weight: bold;
}

.news-totop span:hover {
    cursor: pointer;
    border-bottom: solid 1px var(--contrast-color);
}
