.news-main {
    display: flex;
    flex-direction: column;
}

.news-header {
    margin: 1rem 0;
    color: var(--off-white);
    
    display: flex;
    justify-content: center;
}

.news-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.news-header h3 {
    padding-bottom: .25rem;
    border-bottom: solid 3px var(--contrast-color);
    width: fit-content;
}

#news-search-form {
    border: solid 1px var(--off-white);

    padding: .45rem .5rem;;
    outline: none;
    margin-bottom: .35rem;
    color: var(--contrast-color);
    font-weight: bold;
}

#news-search-form::placeholder {
    color: var(--off-white);
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#news-search-form:focus {
    border: solid 1px var(--contrast-color);
}

a {
    text-decoration: none;
    color: var(--off-white);
}

.news-totop {
    text-align: center;
    padding: 1rem;
    color: var(--contrast-color);
    font-weight: bold;
}

.news-totop span:hover {
    cursor: pointer;
    border-bottom: solid 1px var(--contrast-color);
}

@media screen and (min-width: 768px) {
    .news-main {
        font-size: 1.10em;
    }

    #news-search-form {
        width: 210px;
        font-size: .85em;
    }
}

@media screen and (min-width: 1320px) {
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}