.nav-mobile-main {
	width: 100%;
}

.nav-mobile-toggle {
	background: transparent;
	display: flex;
	justify-content: flex-end;
	padding-top: 1rem;
	padding-right: 1rem;
	cursor: pointer;
	z-index: 1;
}

.nav-mobile-menu {
	position: fixed;
	right: 0;
	top: 0;

	transform: translate3d(100vw, 0, 0);
	transition: transform 0.3s cubic-bezier(1, 0.52, 0, 1);

	width: 80vw;
	min-height: 100vh;
	padding-top: 5rem;

	background-color: var(--background-color);

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;

	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
}

.nav-mobile-menu.true {
	transform: translate3d(0vw, 0, 0);
}

.nav-mobile-menu-item {
	padding-right: 1rem;
	background: transparent;
}

.nav-mobile-menu-item div {
	background: transparent;
	color: var(--contrast-color);
	font-weight: bold;
	font-size: 1.5em;
	height: 40px;
}

svg {
	z-index: 1;
	background: transparent;
}

.nav-desktop-main {
	display: none;
}

@media screen and (min-width: 1024px) {
	.nav-mobile-main {
		display: none;
	}

	.nav-desktop-main {
		display: flex;
		background: var(--contrast-color);
		height: 5vh;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
	}

	.nav-desktop-menu {
		display: flex;
		justify-content: flex-end;
		gap: 5rem;
		padding-right: 2rem;
		background: transparent;
		width: 100%;
	}

	.nav-desktop-menu-link div {
		background: var(--contrast-color);
		font-weight: bold;
		font-size: 1.1em;
	}
}
