.crypto-main {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.65);
	background: var(--contrast-color);
	height: 150px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.crypto-main:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0);
}

.crypto-info > * {
	background: transparent;
	color: var(--off-white);
}

.crypto-info {
	margin: 1rem 0;
	background: transparent;
}

.crypto-info-number {
	color: var(--off-white-hover);
	font-weight: bold;
}

.crypto-info-name {
	font-weight: bold;
	font-size: 18px;
}

.crypto-icon {
	background: transparent;
	display: flex;
	align-items: center;
}

.crypto-click {
	color: var(--off-white);
	font-size: 0.75em;
}

img {
	background: transparent;
	height: 35px;
	width: 35px;
}
